.footer {
    background-color: black;
    color: white;
    padding: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1em;
    .footer-section {
        p {
            opacity: 0.8em;
            margin-bottom: 0.5em;
        }
        p.footer-title {
            font-weight: bold;
            font-size: 1.2em;
            opacity: 1;
            margin-bottom: 1em;
        }
    }
}