.navbar {
    height: 50px;
    box-shadow: 0 5px 10px var(--shadow-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    
    .logo{
        color: var(--primary-color);
        font-size: 1.5em;
        font-weight: bold;
        span{
            color: var(--text-color);
        }
    }

    .sidebar {
        height: 23px;
        width: 30px;
        position: relative;
        display: none;
        .bar{
            height: 4px;
            width: 100%;
            background-color: black;
            position: absolute;
            border-radius: 3px;
            transition: transform 0.3s ease-in;
            &:nth-child(1){
                top: 0%;
            }
            &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(1){
                top: 100%;
                transform: translateY(-100%);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
    
    .active {
        .bar {
            display: none;
            // transform-origin: center;
            // top: 50%;
            // &:nth-child(1){
            //     transform: translate(0, -350%) rotate(45deg);
            // }
            // &:nth-child(2){
            //     transform: scaleX(0) translateY(-50%);
            // }
            // &:nth-child(3){
            //     transform: translate(0, -50%) rotate(-45deg);
            // }
        }
    }
}

.sidemenu {
    position: fixed;
    top: 3vh;
    right: 0;
    width: 120px;
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 8px gray;
    ul {
        list-style: none;
        a {
            color: var(--text-color);
            padding-left: 1em;
            margin: 1em;
            letter-spacing: 1px;
            font-weight: bolder;
            position: relative;
            transition: all 0.4s ease;
            &:hover {
               color: red;
            }
            &.active {
                color: red;
                font-weight: bolder;
            }

        }
    }
}

.nav-links {
    ul {
        display: flex;
        list-style: none;
        a {
            color: var(--text-color);
            margin-left: 1em;
            letter-spacing: 1px;
            font-weight: bolder;
            position: relative;
            transition: all 0.4s ease;
            &:hover {
               color: red;
            }
            &.active {
                color: red;
                font-weight: bolder;
            }
        }
    }
}