:root {
    --bg-color: white;
    --shadow-color: gray;
    --primary-color: red;
    --text-color: black;
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--font-size);
}

img {
    object-fit: cover;
}

.main {
    padding-block: 3vw;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5vw;
    .col {
        width: 50%;
        img {
            width: 80%;
            position: relative;
            transform: scale(0.1);
            animation: forwards;
            animation-name: popOut;
            animation-duration: 1s;
        }
        .skill {
            border-radius: 10px;
            width: 100%;
        }
        .explore {
            margin-top: 1.5vw;
        }
    }

    .title {
        margin-bottom: 0.25em;
        span {
            color: red;
        }
    }
    .info {
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1em;
    }
    .getting {
        margin-bottom: 0.5em;
        border-left: 0.3em solid red;
        padding-left: 0.4em;
        transform: translateX(-100);
        opacity: 0;
        animation: forwards;
        animation-duration: 1s;
        animation-name: SlideInLeft;
        @for $i from 2 to 8{
            &:nth-child(#{$i}) {
                animation-delay: #{$i * 0.2}s;
            }
        }
    }
}

.button {
    outline: none;
    border: none;
    background-color: gainsboro;
    color: black;
    padding: 1em 1em;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 0 3px 6px black;
    letter-spacing: 1px;
    &:hover {
        cursor: pointer;
        background-color: red;
        color: white;
        border: none;
    }

}

@import './parts/navbar.scss';

a {
    text-decoration: none;
}

.container {
    padding-inline: 25vw;
}

@import './parts/footer.scss';
@import "./parts/animation.scss";

@media screen and (max-width: 1280px){
    .container {
        padding-inline: 18vw;
    }
    
}
@media screen and (max-width: 1080px){
    .container {
        padding-inline: 12vw;
    }
    
}

@media screen and (max-width: 768px){
    .container {
        padding-inline: 8vw;
    }
    .section {
        .col {
            width: 100%;
            text-align: center;
            margin-bottom: 2em;
            img {
                min-width: 50%;
                max-width: 51%;
            }
            .explore {
                display: block;
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
        .getting {
            display: inline-block;
            margin: 0.5em;
        }
    }
    .footer {
        grid-template-columns: repeat(4, 1fr);
        .footer-section:nth-child(1) {
            grid-column: span 4;
        }
        .footer-section:nth-child(2), .footer-section:nth-child(3) {
            grid-column: span 2;
        }
    }
    
}

@media screen and (max-width: 640px){
    .container {
        padding-inline: 6vw;
    }
    
}

@media screen and (max-width: 480px){
    .container {
        padding-inline: 3vw;
    }
    
}